body {
  background-color: #000000;
  color: #ffffff;}

.yeet{
  background-color:#0000ff;
  
  font-weight:bolder;
}

.div1{
   font-family: helvetica;

}

h2:hover::First-letter{
 Font-size:200%;
 color:red
}

h2:active{
 Font-size:200%;
 color:Yellow
}

a:link{
  color:LightGreen
}

a:visited{
 color:orange
}
