body {
  background-color: #000000;
  color: #ffffff;}

.yeet{
  background-color:#0000ff;
  
  font-weight:bolder;
}

.div1{
   font-family: helvetica;

}

h2:hover{
 Font-size:200%;
 color:black
}

h2:active{
 Font-size:200%;
 color:purple
}
