body{
background-color:#999999
}

img.foto1{
transition:transform 1s;
animation: sepiaFilter 2s forwards;
}


img.foto1:active {
    transform: rotate(360deg);
    width:350px;
    height:250px;
}

span:hover{
font-size:20px;
  font-weight:bolder;
  font-family:Helvetica;
  color:green;
  background-color:orange;
}
  
#primero{
    font-size:16px;
    font-weight:bold;
    background-color:#3333aa;
    animation:div 4s forwards;
}

div.lugar{
    Font-family:TimesNewRoman;
}

#segundo{
    background-color:orange;
    font-size:bold;}


@keyframes sepiaFilter {
    from {filter: sepia(0%);}
    to {filter: sepia(100%);}
}

@keyframes div{
    from{background-color:#3333aa;}
    to{background-color:#aaaa33}
}
